/* FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&display=swap')

/* VARIABLES
$primary-color:#F2527D
$secondary-color:#4B53F2
$ternary-color:#FFC931

$danger-color: #F29BBB
$warning-color:#F2AE30
$success-color:#9B7BFF
$info-color:#32BAD9

$text-color:#012840
$text-light-color:#002547
$dark-color:#0D0D0D
$light-color:#f2f2f2
$gray-color:#9b9b9b

/* RESET
*, html, body
  padding: 0
  margin: 0
  font-family: 'Poppins', sans-serif
/* NAVBAR
.navbar
  display: flex
  background: $secondary-color
  padding: 1.8em 2em
  .brand
    text-decoration: none
    font-size: 1.3rem
    font-weight: bold
    color: $light-color
    font-family: 'Montserrat', sans-serif
  ul
    display: flex
    position: absolute
    right: 3em
    li
      list-style: none
      &::after
        content: ""
        display: block
        width: 80%
        border-bottom: $light-color solid 3px
        border-radius: 3px
        margin-top: 5px
        margin-left: 2.5em
        transition: all 0.2s ease
        opacity: 0
      &:hover::after
        opacity: 1
      a
        position: relative
        margin-left: 3em
        text-decoration: none
        color: $light-color

/* MAIN
main .container
  margin: 0 2em

/* HERO
#hero 
  // background: $secondary-color
  margin-bottom: 10em
  .row
    margin-top: 2em
    display: flex
    justify-content: space-between
    position: relative
    height: 30em
    .card-wrapper
      margin-top: 3em
      width: 50%
      display: flex
      // margin-left: 1em
      justify-content: space-around
      .card
        width: 25%
        // position: relative
        // margin-right: 1.5em
        height: 15em
        border-radius: 1em
        background-image: url(https://source.unsplash.com/random/108x192?movies)
        background-size: cover
        background-position: center
        box-shadow: 2px 2px 10px $text-color
        overflow: hidden
        box-sizing: border-box
        position: relative
        padding: 0 1em
        &::after
          content: ''
          position: absolute
          width: 100%
          height: 100%
          transform: translateX(-1em)
          background: linear-gradient(0deg, rgba(0,0,0,0.9) 19%, rgba(162,134,74,0) 100%)
          transition: all 0.2s ease
          opacity: 0
        &:hover::after
          opacity: 1
        &:hover h5
          opacity: 1
        &:hover span
          opacity: 1
        h5, span
          z-index: 1
          position: absolute
          bottom: 2.5em
          color: $light-color
          transition: all 0.5s ease
          opacity: 0
        span
          font-size: .9rem
          bottom: 1em
          color: $gray-color
    .text-wrapper
      position: absolute
      margin-left: 7em
      bottom: 0
      width: 55%
      h5
        color: $gray-color
        font-size: 1.2rem
        margin-bottom: 4px
      h3
        font-family: 'Montserrat', sans-serif
        font-size: 2.1rem
        font-weight: 800
        margin-bottom: 4px
      p
        text-align: justify
    .image-wrapper 
      display: grid
      align-items: flex-end
      img
        width: 85%
        justify-self: center