/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&display=swap");
/* VARIABLES */
/* RESET */
*, html, body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #012840;
  scroll-behavior: smooth;
}

body main {
  overflow: hidden;
}

/* MIXIN */
/* NAVBAR */
.navbar {
  display: flex;
  background: #4B53F2;
  padding: 1.8em 2em;
}
.navbar .brand {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}
.navbar ul {
  display: flex;
  position: absolute;
  right: 3em;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li::after {
  content: "";
  display: block;
  width: 80%;
  border-bottom: #FFC931 solid 3px;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 2.5em;
  transition: all 0.2s ease;
  opacity: 0;
}
.navbar ul li:hover::after {
  opacity: 1;
}
.navbar ul li a {
  position: relative;
  margin-left: 3em;
  text-decoration: none;
  color: #f2f2f2;
}

/* MAIN */
main .container {
  margin: 0 2em;
}

main .wave {
  position: relative;
}

/* HERO */
#hero {
  margin-bottom: 4em;
}
#hero .row {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30em;
}
#hero .row .card-wrapper {
  margin-top: 3em;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
#hero .row .card-wrapper .card {
  width: 25%;
  height: 15em;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 10px #002547;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  padding: 0 1em;
}
#hero .row .card-wrapper .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-1em);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 19%, rgba(162, 134, 74, 0) 100%);
  transition: all 0.2s ease;
  opacity: 0;
}
#hero .row .card-wrapper .card:hover::after {
  opacity: 1;
}
#hero .row .card-wrapper .card:hover h5 {
  opacity: 1;
}
#hero .row .card-wrapper .card:hover span {
  opacity: 1;
}
#hero .row .card-wrapper .card h5, #hero .row .card-wrapper .card span {
  z-index: 1;
  position: absolute;
  bottom: 2.5em;
  color: #f2f2f2;
  transition: all 0.5s ease;
  opacity: 0;
}
#hero .row .card-wrapper .card span {
  font-size: 0.9rem;
  bottom: 1em;
  color: #9b9b9b;
}
#hero .row .text-wrapper {
  position: absolute;
  margin-left: 7em;
  bottom: 0;
  width: 55%;
}
#hero .row .text-wrapper h5 {
  color: #F2527D;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
#hero .row .text-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}
#hero .row .text-wrapper p {
  text-align: justify;
  padding-right: 6em;
}
#hero .row .image-wrapper {
  display: grid;
  align-items: flex-end;
}
#hero .row .image-wrapper img {
  width: 85%;
  justify-self: center;
}

/* TOP2022 */
#top2022 {
  background: #f1f2fe;
  margin-top: -16em;
}
#top2022 .row.header {
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30em;
}
#top2022 .row.header .text-wrapper {
  display: grid;
  width: 50%;
  margin-left: 1.5em;
  align-content: center;
}
#top2022 .row.header .text-wrapper h5 {
  color: #F2527D;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
#top2022 .row.header .text-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}
#top2022 .row.header .text-wrapper p {
  text-align: justify;
  padding-right: 6em;
}
#top2022 .row.header .image-wrapper {
  display: grid;
}
#top2022 .row.header .image-wrapper img {
  padding-top: 2em;
  width: 85%;
  justify-self: center;
}
#top2022 .row.content {
  padding-top: 8em;
  display: grid;
  grid-template-areas: "a1 a2" "b1 b2" "c1 c2" "d1 d2" "e1 e2";
  row-gap: 5em;
  justify-items: center;
  position: relative;
}
#top2022 .row.content .info-wrapper, #top2022 .row.content image-wrapper {
  display: block;
  margin: 0;
}
#top2022 .row.content .info-wrapper {
  display: grid;
  margin-left: 5em;
  position: relative;
  align-content: center;
  right: 0;
}
#top2022 .row.content .info-wrapper h3 {
  font-size: 1.5rem;
  margin-left: -1.2em;
}
#top2022 .row.content .info-wrapper .detail {
  margin-top: 0.5em;
}
#top2022 .row.content .info-wrapper .detail span {
  padding: 0 0.3em;
}
#top2022 .row.content .info-wrapper .detail .date {
  color: #9b9b9b;
}
#top2022 .row.content .info-wrapper .detail .studio {
  color: #4B53F2;
}
#top2022 .row.content .info-wrapper .detail .fa-star {
  padding-left: 0.3em;
  color: #FFC931;
}
#top2022 .row.content .info-wrapper .genre-wrapper {
  margin-top: 0.8em;
}
#top2022 .row.content .info-wrapper .genre-wrapper .genre {
  padding: 0.5em 1em;
  margin-right: 0.5em;
  background: #c0eaf3;
  border-radius: 0.6em;
  color: #32BAD9;
  font-size: 0.8rem;
  font-weight: 500;
}
#top2022 .row.content .info-wrapper .desc {
  padding-top: 1em;
  text-align: justify;
}
#top2022 .row.content .image-wrapper {
  grid-area: a2;
  display: grid;
  box-shadow: 2px 2px 10px #002547;
  border-radius: 1em;
  overflow: hidden;
  width: 20em;
  height: 20em;
  transform: rotate(-8deg);
}
#top2022 .row.content .image-wrapper:hover img {
  transform: scale(1.2) rotate(8deg);
  cursor: pointer;
}
#top2022 .row.content .image-wrapper.row-1 {
  grid-area: a2;
  margin-top: 1em;
}
#top2022 .row.content .image-wrapper.row-2 {
  grid-area: b1;
  margin-top: 1em;
}
#top2022 .row.content .image-wrapper.row-3 {
  grid-area: c2;
  margin-top: 1em;
}
#top2022 .row.content .image-wrapper.row-4 {
  grid-area: d1;
  margin-top: 1em;
}
#top2022 .row.content .image-wrapper.row-5 {
  grid-area: e2;
  margin-top: 1em;
}
#top2022 .row.content .image-wrapper img {
  width: 105%;
  justify-self: center;
  transition: all 0.3s ease;
}

#topAll {
  background: #b3e5f1;
  padding: 18em 0;
  margin-top: -17.5em;
}
#topAll .row.header {
  padding-top: 0em;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30em;
}
#topAll .row.header .text-wrapper {
  display: grid;
  width: 50%;
  margin-left: 1.5em;
  align-content: center;
}
#topAll .row.header .text-wrapper h5 {
  color: #F2527D;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
#topAll .row.header .text-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}
#topAll .row.header .text-wrapper p {
  text-align: justify;
  padding-right: 6em;
}
#topAll .row.content {
  padding-top: 8em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.5em, 1fr));
  row-gap: 40px;
  justify-items: center;
  background-size: 100%;
}
#topAll .row.content .card {
  width: 22.5em;
  background: url("../images/umac3.jpg") center no-repeat;
  background-size: cover;
  border-radius: 1em;
  box-shadow: 2px 2px 10px #002547;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}
#topAll .row.content .card:hover {
  cursor: pointer;
}
#topAll .row.content .card:hover .container {
  background: rgba(1, 40, 64, 0.7);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}
#topAll .row.content .card:hover .detail {
  opacity: 0;
}
#topAll .row.content .card:hover .genre-wrapper {
  opacity: 0;
}
#topAll .row.content .card:hover .desc {
  opacity: 0;
}
#topAll .row.content .card .container {
  box-sizing: border-box;
  margin: 0;
  padding: 1.5em;
  background: rgba(1, 40, 64, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
#topAll .row.content .card h3 {
  font-size: 4.5rem;
  display: inline-block;
  margin-top: 0.2em;
  color: #f2f2f2;
}
#topAll .row.content .card h5 {
  font-size: 1.5rem;
  color: #f2f2f2;
  display: inline-block;
  width: 70%;
  margin-left: 0.5em;
}
#topAll .row.content .card .detail {
  font-size: 0.9rem;
  color: #f2f2f2;
  transition: all 0.3s ease;
}
#topAll .row.content .card .detail span {
  color: #f2f2f2;
  padding: 0 0.3em;
}
#topAll .row.content .card .detail .date {
  color: #F29BBB;
}
#topAll .row.content .card .detail .studio {
  color: #32BAD9;
}
#topAll .row.content .card .detail .rating {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1rem;
  font-weight: 600;
  color: #f2f2f2;
}
#topAll .row.content .card .detail .rating .fa-star {
  padding-left: 0.3em;
  color: #FFC931;
}
#topAll .row.content .card .genre-wrapper {
  margin-top: 1em;
  transition: all 0.3s ease;
}
#topAll .row.content .card .genre-wrapper .genre {
  padding: 0.5em 1em;
  margin-right: 0.5em;
  background: #c0eaf3;
  border-radius: 0.6em;
  font-size: 0.9rem;
  color: #32BAD9;
  font-size: 0.8rem;
  font-weight: 500;
}
#topAll .row.content .card .desc {
  transition: all 0.3s ease;
  padding-top: 1.5em;
  font-size: 0.9rem;
  text-align: justify;
  color: #f2f2f2;
}
#topAll .row.content .card:last-child:hover {
  cursor: auto;
}
#topAll .row.content .card:last-child {
  background: none;
}
#topAll .row.content .card:last-child .container {
  background: #012840;
}
#topAll .row.content .card:last-child .container li {
  padding: 1em 0;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  border-bottom: 2px solid #f2f2f2;
}
#topAll .row.content .card:last-child .container h5 {
  font-size: 0.9rem;
  padding-left: 2em;
}
#topAll .row.content .card:last-child .container .no {
  color: #f2f2f2;
  display: inline-block;
  position: absolute;
  margin-left: -2.5em;
}
#topAll .row.content .card:last-child .container .rating {
  font-size: 0.9rem;
  color: #f2f2f2;
  justify-self: right;
}
#topAll .row.content .card:last-child .container .rating .fa-star {
  color: #FFC931 !important;
}

#allTimeWave {
  margin-top: -12em;
}

#watched {
  background: #f1f2fe;
  margin-top: -0.5em;
}
#watched .row.header {
  padding-top: 0em;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30em;
}
#watched .row.header .text-wrapper {
  display: grid;
  width: 50%;
  margin-left: 1.5em;
  align-content: center;
}
#watched .row.header .text-wrapper h5 {
  color: #F2527D;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
#watched .row.header .text-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}
#watched .row.header .text-wrapper p {
  text-align: justify;
  padding-right: 6em;
}
#watched .row.content {
  padding-top: 5em;
  display: grid;
  justify-items: center;
  padding-bottom: 5em;
}
#watched .row.content .card .card-header {
  margin-bottom: 1em;
}
#watched .row.content .card table {
  background: #f2f2f2;
  border-spacing: 0;
  border-radius: 1em;
  box-shadow: 2px 2px 10px #002547;
  padding: 1em;
}
#watched .row.content .card table thead {
  background: #002547;
}
#watched .row.content .card table thead th {
  padding: 1em 1em;
  color: #f2f2f2;
  font-weight: 600;
}
#watched .row.content .card table thead th:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#watched .row.content .card table thead th:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
#watched .row.content .card table tbody {
  padding-top: 1em;
}
#watched .row.content .card table td {
  font-size: 0.9rem;
  padding: 0.8em 1em;
}
#watched .row.content .card table td:nth-child(5), #watched .row.content .card table td:nth-child(6) {
  text-align: center;
}
#watched .row.content .card table td:nth-child(2) {
  max-width: 20em;
}
#watched .row.content .card table td:nth-child(4) {
  max-width: 12em;
}
#watched .row.content .card table .fa {
  margin-right: 3px;
}
#watched .row.content .card table .fa-star {
  color: #FFC931;
}
#watched .row.content .card table .status {
  padding: 0.5em 1em;
  background: #c2c5fb;
  border-radius: 0.6em;
  color: #4B53F2;
  font-size: 0.8rem;
  font-weight: 500;
}
#watched .row.content .card table .status .fa {
  color: #4B53F2;
}
#watched .row.content .card table .status.pending {
  background: #fbe6c0;
  color: #F2AE30;
}
#watched .row.content .card table .status.pending .fa {
  color: #F2AE30;
}
#watched .row.content .card table .status.done {
  background: #c0eaf3;
  color: #32BAD9;
}
#watched .row.content .card table .status.done .fa {
  color: #32BAD9;
}

#profile {
  margin-top: -0.5em;
}
#profile .row.header {
  padding-top: 0em;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30em;
}
#profile .row.header .text-wrapper {
  display: grid;
  width: 50%;
  margin-left: 1.5em;
  align-content: center;
}
#profile .row.header .text-wrapper h5 {
  color: #F2527D;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
#profile .row.header .text-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}
#profile .row.header .text-wrapper p {
  text-align: justify;
  padding-right: 6em;
}
#profile .row.header .tagline {
  font-size: 1.2rem;
  font-weight: 300;
  color: #9b9b9b;
}
#profile .row.header .tagline b {
  font-weight: 500;
}
#profile .row.header .desc {
  padding-top: 1em;
}
#profile .row.header .desc a {
  color: #32BAD9;
}
#profile .row.header .desc a:hover {
  color: #88d7e9;
}
#profile .row.header .contact-button {
  text-decoration: none;
  margin-top: 1.5em;
  padding: 0.8em 1.2em;
  width: fit-content;
  background: #FFC931;
  border-radius: 0.5em;
}
#profile .row.header .contact-button:hover {
  opacity: 0.85;
}
#profile .row.header .contact-button .fa {
  margin-right: 5px;
}
#profile .row.header .image-wrapper {
  width: 40%;
  position: relative;
}
#profile .row.header .image-wrapper img {
  width: 80%;
}
#profile .row.header .image-wrapper .splash {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-23%, -25%);
  z-index: -999;
}
#profile .row.content {
  padding-top: 5em;
  display: grid;
  justify-items: center;
  padding-bottom: 5em;
}

#toTop {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  text-align: center;
  line-height: 3em;
  background: #FFC931;
  position: fixed;
  bottom: 5em;
  right: 1em;
  box-shadow: 2px 2px 5px rgba(0, 37, 71, 0.5);
}

footer {
  background: #4B53F2;
}
footer .container {
  margin-top: -1em;
  display: flex;
  justify-content: center;
}
footer .container a {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  margin: 0 0.5em;
  display: flex;
  justify-content: center;
  border: 1.8px #f2f2f2 solid;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 2em;
}
footer .container a .fab {
  color: #f2f2f2;
  line-height: 2em;
}
footer .container a:hover {
  border-color: #f2f2f2;
  background: #f2f2f2;
}
footer .container a:hover .fab {
  color: #4B53F2;
}
footer p {
  font-size: 0.8rem;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
}
footer p a {
  color: #FFC931;
  text-decoration: none;
  margin: 0 3px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
